<h4> Comedians </h4>
<%= search_form_for @q1, url: comedians_path, method: :get do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :comedian_name_cont, 'Name' %>
      <%= f.text_field :comedian_name_cont, class: 'form-control' %>
    </div>

   
    <div class="col-md-6">
      <%#= f.label :city_cont, 'Location' %>
      <%#= f.text_field :city_cont, class: 'form-control' %>
      <%= f.label :location_cont, 'Location' %>
      <%= f.text_field :location_cont, class: 'form-control' %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= f.submit 'Search', class: 'btn btn-primary' %>
      <%#= link_to 'Clear Filters', shows_path(q: nil), class: 'btn btn-secondary' %>
<!--    -->
    </div>
  </div>
<% end %>


<h4> Shows </h4>
<%= search_form_for @q2, url: shows_path, method: :get do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%#= f.label :city_cont, 'Location' %>
      <%#= f.text_field :city_cont, class: 'form-control' %>
      <%= f.label :location_cont, 'Location' %>
      <%= f.text_field :location_cont, class: 'form-control' %>
    </div>

    <div class="col-md-4">
      <%= f.label :date_gteq, 'Start Time' %>
      <%= f.date_field :date_gteq, class: 'form-control' %>
    </div>

    <div class="col-md-4">
      <%= f.label :date_lteq, 'End Time' %>
      <%= f.date_field :date_lteq, class: 'form-control' %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= f.submit 'Search', class: 'btn btn-primary' %>
      <%#= link_to 'Clear Filters', shows_path(q: nil), class: 'btn btn-secondary' %>
<!--    -->
    </div>
  </div>
<% end %>
