<div>
  <div>
    <h1>
      List of all comedians
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Image
        </th>

        <th>
          Name
        </th>

        <th>
          Location
        </th>

        <th>
          Short Bio
        </th>

        <th>
          Comedy Styles
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <img src="<%= a_user.comedian_profile_pic%>" style = "width:250px;">
        </td>

        <td>
          <%= a_user.comedian_name %>
        </td>


        <td>
          <%= a_user.city %>, <%= a_user.state %>
        </td>

        <td>
          <%= a_user.short_comedian_bio %>
        </td>


        <td>
          <% a_user.comic_styles.all.each do |comic_style| %>
          <ul>
          <li><%= comic_style.comedy_style.name %></li>
          </ul>
          <% end %>
        </td>

        <td>
          <a href="/comedians/<%= a_user.name %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
