<div>
  <div>
    <h1>
      <%= @the_user.name %>
    </h1>

    <div>
      <div>
        <a href="/comedians">
          Go back
        </a>
      </div>

    </div>

    <dl>
      
      <dd>
        <img src="<%= @the_user.comedian_profile_pic %>" style = "width:250px;">
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_user.comedian_bio %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_user.city %>, <%= @the_user.state %>
      </dd>

      <dt>Comedian Style</dt>
      <dd>
          <% @the_user.comic_styles.all.each do |comic_style| %>
          <ul>
          <li><%= comic_style.comedy_style.name %></li>
          </ul>
          <% end %>
        </dd>
  </div>
</div>

<hr>
Shows




<hr>
