<div>
  <div>
    <h2>
      <%= @the_user.producer_name %>
    </h2>

    <div>
      <div>
        <a href="/producers">
          Go back
        </a>
      </div>

    </div>

    <dl>
      
      <dd>
        <img src="<%= @the_user.producer_profile_pic %>" style = "width:250px;">
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_user.producer_bio %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_user.city %>, <%= @the_user.state %>
      </dd>

  </div>
</div>

<hr>
<% if @the_user.shows.count > 0 %>
<h4> Shows Produced </h4>
  <div class="row row-cols-1 row-cols-md-3 g-4">
       <% @the_user.shows.order(date: :desc).each do |a_show| %>

        <div class="col">
          <div class="card h-100">
            <img src="<%= a_show.image %>" class="card-img-top" style="width: 100%;" alt="<%= a_show.name %> Image">
            <div class="card-body">
              <h5 class="card-title"><%= a_show.name %></h5>
              <p class="card-text">
                <strong><%= a_show.date.strftime('%a, %b %d') %></strong><br>
                <strong><%= a_show.date.strftime('%I:%M %p') %></strong><br>
                <strong>Venue:</strong> <%= a_show.venue_name %><br>
                <strong>Address:</strong> <%= a_show.address %>, <%= a_show.city %>, <%= a_show.state %><br>
                <strong>Show Type:</strong> <%= a_show.show_type.name %>
              </p>
            </div>
            <hr>
            <div class="card-footer">
              <a href="/shows/<%= a_show.id %>" class="btn btn-primary">Show Details</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>

      
</div>
<hr>
<% else %>
<%= @the_user.producer_name%> hasn't added any show at the moment.
<% end %>
