<div>
  <div>
    <h1>
      <%= @the_user.producer_name %>
    </h1>

    <div>
      <div>
        <a href="/producers">
          Go back
        </a>
      </div>

    </div>

    <dl>
      
      <dd>
        <img src="<%= @the_user.producer_profile_pic %>" style = "width:250px;">
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_user.producer_bio %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_user.city %>, <%= @the_user.state %>
      </dd>

  </div>
</div>

<hr>
Shows Produced
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Name
        </th>

        <th>
          Date
        </th>

        <th>
          Time
        </th>

        <th>
          Venue 
        </th>

        <th>
          Address 
        </th>

        <th>
          Show type
        </th>

        <th>
        </th>
      </tr>

      <% @the_user.shows.order(date: :desc).each do |a_show| %>
      <tr>
        <td>
          <img src="<%= a_show.image%>" style = "width:250px;">
        </td>

        <td>
          <%= a_show.name %>
        </td>

        <td>
          <%= a_show.date.strftime('%a, %b %d') %>
        </td>

        <td>
          <%= a_show.date.strftime('%I:%M %p') %>
        </td>

        <td>
          <%= a_show.venue_name %>
        </td>

        <td>
          <%= a_show.address %>
          <div>
          <%= a_show.city %>, <%= a_show.state %>
        </td>

        <td>
          <%= a_show.show_type.name %>
        </td>

        <td>
          <a href="/shows/<%= a_show.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
