<div>
  <div>
    <h1>
      List of all shows
    </h1>
  </div>
</div>

<hr>
<div>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
require "http"
require "json"

@url_link = "https://maps.googleapis.com/maps/api/js?key="+ENV.fetch("MY_GMAP_KEY")+"&callback=initMap"


  function initMap() {
    var mapDiv = document.getElementById('map');

    var map = new google.maps.Map(mapDiv);

    var bounds = new google.maps.LatLngBounds();
    
    var infowindow = new google.maps.InfoWindow({
      content: "Click Content" 
    });
    
    var marker = new google.maps.Marker({
      position: {lat: 41.8381065, lng: -87.6512738}, 
      map: map,
      title: 'Hello World!',
      icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' 
    });
    
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

  bounds.extend(new google.maps.LatLng(41.8381065, -87.6512738 ));

  map.fitBounds(bounds);
  };
  
</script>
<script src= <%= @url_link%>
async defer></script>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Name
        </th>

        <th>
          Date
        </th>

        <th>
          Time
        </th>

        <th>
          Venue 
        </th>

        <th>
          Address 
        </th>

        <th>
          Show type
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_shows.each do |a_show| %>
      <tr>
        <td>
          <img src="<%= a_show.image%>" style = "width:250px;">
        </td>

        <td>
          <%= a_show.name %>
        </td>

        <td>
          <%= a_show.date.strftime('%a, %b %d') %>
        </td>

        <td>
          <%= a_show.date.strftime('%I:%M %p') %>
        </td>

        <td>
          <%= a_show.venue_name %>
        </td>

        <td>
          <%= a_show.address %>
          <div>
          <%= a_show.city %>, <%= a_show.state %>
        </td>

        <td>
          <%= a_show.show_type.name %>
        </td>

        <td>
          <a href="/shows/<%= a_show.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
