<div>
  <% if current_user.is_producer_and_comedian? %>
    <h1>
      Productions 
    </h1>
    <div>
    <h5>
      Producer: <a href="/producers/<%= current_user.producer_name.gsub(" ","_")%>"><%= current_user.producer_name%></a>
    </h5>
    </div>
      <div>
      <h3> Upcoming shows (<%= @list_of_current_shows.count %>)</h3>
      </div>

      
      <div>
        <h4>
          Add a new show
        </h4>

        <form action="/insert_show" method="post">
          
          <div>
            <label for="image_box">
              Image
            </label>

            <input type="text" id="image_box" name="query_image">
          </div>
          <div>
            <label for="name_box">
              Name
            </label>

            <input type="text" id="name_box" name="query_name">
          </div>

          <div>
            <label for="date_box">
              Date
            </label>

            <input type="datetime-local" id="date_box" name="query_date">
          </div>

          <div>
            <label for="description_box">
              About The Show
            </label>

            <textarea id="description_box" name="query_description" rows="3"></textarea>
          </div>

          <div>
            <label for="venue_box">
              Venue
            </label>

            <input type="text" id="venue_box" name="query_venue">
          </div>

          <div>
            <label for="address_box">
              Address
            </label>

            <textarea id="address_box" name="query_address" rows="3"></textarea>
          </div>

          <div>
            <label for="city_box">
              City
            </label>

            <input type="text" id="city_box" name="query_city">
          </div>

          <div>
            <label for="state_box">
              State
            </label>

            <input type="text" id="state_box" name="query_state">
          </div>

          <div>
            <label for="zip_box">
              Zip
            </label>

            <input type="text" id="zip_box" name="query_zip">
          </div>

          <div>
            <label for="show_type_name_box">
              Show type
            </label>

            <select id="show_type_name_box" name="query_show_type_name" <!--value="<%#= @the_show.show_type.name--> %>">
            <% ShowType.all.each do |show_type| %>
              <option value="<%= show_type.name %>"><%= show_type.name %></option>
            <% end %>
          </select>       
          </div>

          <button>
            Create show
          </button>
        </form>
      </div>

      <% if @list_of_current_shows.count == 0 %>
      <p> You do not have any current show at the moment. </p>
      <% else %>
      <div>
            <table border="1">
              <tr>
                <th>
                  Image
                </th>

                <th>
                  Name
                </th>

                <th>
                  Date
                </th>

                <th>
                  Time
                </th>

                <th>
                  Venue 
                </th>

                <th>
                  Address 
                </th>

                <th>
                  Show type
                </th>

                <th>
                </th>
              </tr>

              <% @list_of_current_shows.each do |a_show| %>
              <tr>
                <td>
                  <img src="<%= a_show.image%>" style = "width:250px;">
                </td>

                <td>
                  <%= a_show.name %>
                </td>

                <td>
                  <%= a_show.date.strftime('%a, %b %d') %>
                </td>

                <td>
                  <%= a_show.date.strftime('%I:%M %p') %>
                </td>

                <td>
                  <%= a_show.venue_name %>
                </td>

                <td>
                  <%= a_show.address %>
                  <div>
                  <%= a_show.city %>, <%= a_show.state %>
                </td>

                <td>
                  <%= a_show.show_type.name %>
                </td>

                <td>
                  <a href="/shows/<%= a_show.id %>">
                    Show details
                  </a>
                </td>
              </tr>
              <% end %>
            </table>
      </div>
      <% end %>

      <div>
      <h3> Archived shows (<%= @list_of_archived_shows.count %>)</h3>
      </div>

      <% if @list_of_archived_shows.count  == 0 %>
      <p> You do not have any archived show at the moment. </p>
      <% else %>
      <div>
            <table border="1">
              <tr>
                <th>
                  Image
                </th>

                <th>
                  Name
                </th>

                <th>
                  Date
                </th>

                <th>
                  Time
                </th>

                <th>
                  Venue 
                </th>

                <th>
                  Address 
                </th>

                <th>
                  Show type
                </th>

                <th>
                </th>
              </tr>

              <% @list_of_archived_shows.each do |a_show| %>
              <tr>
                <td>
                  <img src="<%= a_show.image%>" style = "width:250px;">
                </td>

                <td>
                  <%= a_show.name %>
                </td>

                <td>
                  <%= a_show.date.strftime('%a, %b %d') %>
                </td>

                <td>
                  <%= a_show.date.strftime('%I:%M %p') %>
                </td>

                <td>
                  <%= a_show.venue_name %>
                </td>

                <td>
                  <%= a_show.address %>
                  <div>
                  <%= a_show.city %>, <%= a_show.state %>
                </td>

                <td>
                  <%= a_show.show_type.name %>
                </td>

                <td>
                  <a href="/shows/<%= a_show.id %>">
                    Show details
                  </a>
                </td>
              </tr>
              <% end %>
            </table>
      </div>
      <% end %>

      <hr>
    <h1>
      Gigs
    </h1>
    <div>
    <h5>
      Comedian: <a href="/comedians/<%= current_user.comedian_name.gsub(" ","_")%>"><%= current_user.comedian_name%></a>
    <h5>
    </div>
      <div>
      <h3> Upcoming shows (<%= @list_of_current_sign_up.count %>)</h3>
      </div>

      <% if @list_of_current_sign_up.count == 0 %>
      <p> You have not signed up to any current show at the moment. </p>
      <% else %>
      <% end %>

      <div>
      <h3> Archived shows (<%= @list_of_archived_sign_up.count %>)</h3>
      </div>

      <% if @list_of_archived_sign_up.count == 0 %>
      <p> You did not sign up to any archived show. </p>
      <% else %>
      <% end %>

      <hr>

  <% elsif current_user.is_producer? %>
    <h1>
      Productions 
    </h1>
    <div>
    <h5>
      Producer: <a href="/producers/<%= current_user.producer_name.gsub(" ","_")%>"><%= current_user.producer_name%></a>
    </h5>
    </div>
      <div>
      <h4> Upcoming shows (<%= @list_of_current_shows.count %>)</h4>
      </div>

      <div>
      <h4> Archived shows (<%= @list_of_archived_shows.count %>)</h4>
      </div>
      <hr>

  <% elsif current_user.is_comedian? %>
    <h1>
      Gigs
    </h1>
    <div>
    <h3>
      Comedian: <a href="/comedians/<%= current_user.comedian_name.gsub(" ","_")%>"><%= current_user.comedian_name%></a>
    <h3>
    </div>
      <div>
      <h4> Upcoming shows (<%= @list_of_current_sign_up.count %>)</h4>
      </div>

      <div>
      <h4> Archived shows (<%= @list_of_archived_sign_up.count %>)</h4>
      </div>
      <hr>

<% end %>
