<div>
  <% if current_user.is_producer_and_comedian? %>
    <h2>
      Productions 
    </h2>
    
    <h6>
      Producer: <a href="/producers/<%= current_user.producer_name.gsub(" ","_")%>"><%= current_user.producer_name%></a>
    </h6>
    
      <div>
      <h4> Upcoming shows (<%= @list_of_current_shows.count %>)</h4>
      </div>

      <hr>
      <div>
        <h5>
          Add a new show
        </h5>

        
        <form action="/insert_show" method="post">
          
          <div>
            <label for="image_box">
              Image
            </label>

            <input type="text" id="image_box" name="query_image">
          </div>
          <div>
            <label for="name_box">
              Name
            </label>

            <input type="text" id="name_box" name="query_name">
          </div>

          <div>
            <label for="date_box">
              Date
            </label>

            <input type="datetime-local" id="date_box" name="query_date">
          </div>

          <div>
            <label for="description_box">
              About The Show
            </label>

            <textarea id="description_box" name="query_description" rows="3"></textarea>
          </div>

          <div>
            <label for="venue_box">
              Venue
            </label>

            <input type="text" id="venue_box" name="query_venue">
          </div>

          <div>
            <label for="address_box">
              Address
            </label>

            <textarea id="address_box" name="query_address" rows="3"></textarea>
          </div>

          <div>
            <label for="city_box">
              City
            </label>

            <input type="text" id="city_box" name="query_city">
          </div>

          <div>
            <label for="state_box">
              State
            </label>

            <input type="text" id="state_box" name="query_state">
          </div>

          <div>
            <label for="zip_box">
              Zip
            </label>

            <input type="text" id="zip_box" name="query_zip">
          </div>

          <div>
            <label for="show_type_name_box">
              Show type
            </label>

            <select id="show_type_name_box" name="query_show_type_name" <!--value="<%#= @the_show.show_type.name--> %>">
            <% ShowType.all.each do |show_type| %>
              <option value="<%= show_type.name %>"><%= show_type.name %></option>
            <% end %>
          </select>       
          </div>

          <button class="btn btn-primary">
            Create show
          </button>
        </form>
      </div>

      <hr>

      <% if @list_of_current_shows.count == 0 %>
      <p> You do not have any current show at the moment. </p>
      <% else %>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% @list_of_current_shows.each do |a_show| %>
            <div class="col">
              <div class="card h-100">
                <img src="<%= a_show.image %>" class="card-img-top" style="width: 100%;" alt="<%= a_show.name %> Image">
                <div class="card-body">
                  <h5 class="card-title"><%= a_show.name %></h5>
                  <p class="card-text">
                    <strong><%= a_show.date.strftime('%a, %b %d') %></strong><br>
                    <strong><%= a_show.date.strftime('%I:%M %p') %></strong><br>
                    <strong>Venue:</strong> <%= a_show.venue_name %><br>
                    <strong>Address:</strong> <%= a_show.address %>, <%= a_show.city %>, <%= a_show.state %><br>
                    <strong>Show Type:</strong> <%= a_show.show_type.name %>
                  </p>
                </div>
                <hr>
                <div class="card-footer">
                  <a href="/shows/<%= a_show.id %>" class="btn btn-primary">Show Details</a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div>
      <h4> Archived shows (<%= @list_of_archived_shows.count %>)</h4>
      </div>

      <% if @list_of_archived_shows.count  == 0 %>
      <p> You do not have any archived show at the moment. </p>
      <% else %>
          <div class="row row-cols-1 row-cols-md-3 g-4">
          <% @list_of_archived_shows.each do |a_show| %>
            <div class="col">
              <div class="card h-100">
                <img src="<%= a_show.image %>" class="card-img-top" style="width: 100%;" alt="<%= a_show.name %> Image">
                <div class="card-body">
                  <h5 class="card-title"><%= a_show.name %></h5>
                  <p class="card-text">
                    <strong><%= a_show.date.strftime('%a, %b %d') %></strong><br>
                    <strong><%= a_show.date.strftime('%I:%M %p') %></strong><br>
                    <strong>Venue:</strong> <%= a_show.venue_name %><br>
                    <strong>Address:</strong> <%= a_show.address %>, <%= a_show.city %>, <%= a_show.state %><br>
                    <strong>Show Type:</strong> <%= a_show.show_type.name %>
                  </p>
                </div>
                <hr>
                <div class="card-footer">
                  <a href="/shows/<%= a_show.id %>" class="btn btn-primary">Show Details</a>
                </div>
              </div>
            </div>
          <% end %>
          </div>      
      <% end %>

    <hr>
    <h2>
      Gigs
    </h2>
    
    <h6>
      Comedian: <a href="/comedians/<%= current_user.comedian_name.gsub(" ","_")%>"><%= current_user.comedian_name%></a>
    <h6>
    
      <div>
      <h4> Upcoming shows (<%= @list_of_current_sign_up.count %>)</h4>
      </div>

      <% if @list_of_current_sign_up.count == 0 %>
      <p> You have not signed up to any current show at the moment. </p>
      <% else %>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% @list_of_current_sign_up.each do |a_sign_up| %>
          <% a_show = a_sign_up.show%>
            <div class="col">
              <div class="card h-100">
                <img src="<%= a_show.image %>" class="card-img-top" style="width: 100%;" alt="<%= a_show.name %> Image">
                <div class="card-body">
                  <h5 class="card-title"><%= a_show.name %></h5>
                  <p class="card-text">
                    <strong><%= a_show.date.strftime('%a, %b %d') %></strong><br>
                    <strong><%= a_show.date.strftime('%I:%M %p') %></strong><br>
                    <strong>Venue:</strong> <%= a_show.venue_name %><br>
                    <strong>Address:</strong> <%= a_show.address %>, <%= a_show.city %>, <%= a_show.state %><br>
                    <strong>Show Type:</strong> <%= a_show.show_type.name %>
                  </p>
                </div>
                <hr>
                <div class="card-footer">
                  <a href="/shows/<%= a_show.id %>" class="btn btn-primary">Show Details</a>
                </div>
              </div>
            </div>
          <% end %>
        </div>      
      <% end %>

      <div>
      <h4> Archived shows (<%= @list_of_archived_sign_up.count %>)</h4>
      </div>

      <% if @list_of_archived_sign_up.count == 0 %>
      <p> You did not sign up to any archived show. </p>
      <% else %>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% @list_of_archived_sign_up.each do |a_sign_up| %>
            <% a_show = a_sign_up.show%>
              <div class="col">
                <div class="card h-100">
                  <img src="<%= a_show.image %>" class="card-img-top" style="width: 100%;" alt="<%= a_show.name %> Image">
                  <div class="card-body">
                    <h5 class="card-title"><%= a_show.name %></h5>
                    <p class="card-text">
                      <strong><%= a_show.date.strftime('%a, %b %d') %></strong><br>
                      <strong><%= a_show.date.strftime('%I:%M %p') %></strong><br>
                      <strong>Venue:</strong> <%= a_show.venue_name %><br>
                      <strong>Address:</strong> <%= a_show.address %>, <%= a_show.city %>, <%= a_show.state %><br>
                      <strong>Show Type:</strong> <%= a_show.show_type.name %>
                    </p>
                  </div>
                  <hr>
                  <div class="card-footer">
                    <a href="/shows/<%= a_show.id %>" class="btn btn-primary">Show Details</a>
                  </div>
                </div>
              </div>
            <% end %>
          </div>      
      <% end %>

      <hr>
 <% elsif current_user.is_producer? %>
    <h2>
      Productions 
    </h2>
    
    <h6>
      Producer: <a href="/producers/<%= current_user.producer_name.gsub(" ","_")%>"><%= current_user.producer_name%></a>
    </h6>
    
      <div>
      <h4> Upcoming shows (<%= @list_of_current_shows.count %>)</h4>
      </div>

      <hr>
      <div>
        <h5>
          Add a new show
        </h5>

        
        <form action="/insert_show" method="post">
          
          <div>
            <label for="image_box">
              Image
            </label>

            <input type="text" id="image_box" name="query_image">
          </div>
          <div>
            <label for="name_box">
              Name
            </label>

            <input type="text" id="name_box" name="query_name">
          </div>

          <div>
            <label for="date_box">
              Date
            </label>

            <input type="datetime-local" id="date_box" name="query_date">
          </div>

          <div>
            <label for="description_box">
              About The Show
            </label>

            <textarea id="description_box" name="query_description" rows="3"></textarea>
          </div>

          <div>
            <label for="venue_box">
              Venue
            </label>

            <input type="text" id="venue_box" name="query_venue">
          </div>

          <div>
            <label for="address_box">
              Address
            </label>

            <textarea id="address_box" name="query_address" rows="3"></textarea>
          </div>

          <div>
            <label for="city_box">
              City
            </label>

            <input type="text" id="city_box" name="query_city">
          </div>

          <div>
            <label for="state_box">
              State
            </label>

            <input type="text" id="state_box" name="query_state">
          </div>

          <div>
            <label for="zip_box">
              Zip
            </label>

            <input type="text" id="zip_box" name="query_zip">
          </div>

          <div>
            <label for="show_type_name_box">
              Show type
            </label>

            <select id="show_type_name_box" name="query_show_type_name">
            <% ShowType.all.each do |show_type| %>
              <option value="<%= show_type.name %>"><%= show_type.name %></option>
            <% end %>
          </select>       
          </div>

          <button class="btn btn-primary">
            Create show
          </button>
        </form>
      </div>

      <hr>

      <% if @list_of_current_shows.count == 0 %>
      <p> You do not have any current show at the moment. </p>
      <% else %>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% @list_of_current_shows.each do |a_show| %>
            <div class="col">
              <div class="card h-100">
                <img src="<%= a_show.image %>" class="card-img-top" style="width: 100%;" alt="<%= a_show.name %> Image">
                <div class="card-body">
                  <h5 class="card-title"><%= a_show.name %></h5>
                  <p class="card-text">
                    <strong><%= a_show.date.strftime('%a, %b %d') %></strong><br>
                    <strong><%= a_show.date.strftime('%I:%M %p') %></strong><br>
                    <strong>Venue:</strong> <%= a_show.venue_name %><br>
                    <strong>Address:</strong> <%= a_show.address %>, <%= a_show.city %>, <%= a_show.state %><br>
                    <strong>Show Type:</strong> <%= a_show.show_type.name %>
                  </p>
                </div>
                <hr>
                <div class="card-footer">
                  <a href="/shows/<%= a_show.id %>" class="btn btn-primary">Show Details</a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div>
      <h4> Archived shows (<%= @list_of_archived_shows.count %>)</h4>
      </div>

      <% if @list_of_archived_shows.count  == 0 %>
      <p> You do not have any archived show at the moment. </p>
      <% else %>
          <div class="row row-cols-1 row-cols-md-3 g-4">
          <% @list_of_archived_shows.each do |a_show| %>
            <div class="col">
              <div class="card h-100">
                <img src="<%= a_show.image %>" class="card-img-top" style="width: 100%;" alt="<%= a_show.name %> Image">
                <div class="card-body">
                  <h5 class="card-title"><%= a_show.name %></h5>
                  <p class="card-text">
                    <strong><%= a_show.date.strftime('%a, %b %d') %></strong><br>
                    <strong><%= a_show.date.strftime('%I:%M %p') %></strong><br>
                    <strong>Venue:</strong> <%= a_show.venue_name %><br>
                    <strong>Address:</strong> <%= a_show.address %>, <%= a_show.city %>, <%= a_show.state %><br>
                    <strong>Show Type:</strong> <%= a_show.show_type.name %>
                  </p>
                </div>
                <hr>
                <div class="card-footer">
                  <a href="/shows/<%= a_show.id %>" class="btn btn-primary">Show Details</a>
                </div>
              </div>
            </div>
          <% end %>
          </div>      
      <% end %>

  <% elsif current_user.is_comedian? %>
    <h2>
      Gigs
    </h2>
    
    <h6>
      Comedian: <a href="/comedians/<%= current_user.comedian_name.gsub(" ","_")%>"><%= current_user.comedian_name%></a>
    <h6>
    
      <div>
      <h4> Upcoming shows (<%= @list_of_current_sign_up.count %>)</h4>
      </div>

      <% if @list_of_current_sign_up.count == 0 %>
      <p> You have not signed up to any current show at the moment. </p>
      <% else %>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% @list_of_current_sign_up.each do |a_sign_up| %>
          <% a_show = a_sign_up.show%>
            <div class="col">
              <div class="card h-100">
                <img src="<%= a_show.image %>" class="card-img-top" style="width: 100%;" alt="<%= a_show.name %> Image">
                <div class="card-body">
                  <h5 class="card-title"><%= a_show.name %></h5>
                  <p class="card-text">
                    <strong><%= a_show.date.strftime('%a, %b %d') %></strong><br>
                    <strong><%= a_show.date.strftime('%I:%M %p') %></strong><br>
                    <strong>Venue:</strong> <%= a_show.venue_name %><br>
                    <strong>Address:</strong> <%= a_show.address %>, <%= a_show.city %>, <%= a_show.state %><br>
                    <strong>Show Type:</strong> <%= a_show.show_type.name %>
                  </p>
                </div>
                <hr>
                <div class="card-footer">
                  <a href="/shows/<%= a_show.id %>" class="btn btn-primary">Show Details</a>
                </div>
              </div>
            </div>
          <% end %>
        </div>      
      <% end %>

      <div>
      <h4> Archived shows (<%= @list_of_archived_sign_up.count %>)</h4>
      </div>

      <% if @list_of_archived_sign_up.count == 0 %>
      <p> You did not sign up to any archived show. </p>
      <% else %>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% @list_of_archived_shows.each do |a_sign_up| %>
            <% a_show = a_sign_up.show%>
              <div class="col">
                <div class="card h-100">
                  <img src="<%= a_show.image %>" class="card-img-top" style="width: 100%;" alt="<%= a_show.name %> Image">
                  <div class="card-body">
                    <h5 class="card-title"><%= a_show.name %></h5>
                    <p class="card-text">
                      <strong><%= a_show.date.strftime('%a, %b %d') %></strong><br>
                      <strong><%= a_show.date.strftime('%I:%M %p') %></strong><br>
                      <strong>Venue:</strong> <%= a_show.venue_name %><br>
                      <strong>Address:</strong> <%= a_show.address %>, <%= a_show.city %>, <%= a_show.state %><br>
                      <strong>Show Type:</strong> <%= a_show.show_type.name %>
                    </p>
                  </div>
                  <hr>
                  <div class="card-footer">
                    <a href="/shows/<%= a_show.id %>" class="btn btn-primary">Show Details</a>
                  </div>
                </div>
              </div>
            <% end %>
          </div>      
      <% end %>

      <hr>
<% end %>
 
