<div>
  <div>
    <h1>
     <%= @the_show.name %>
    </h1>
    <h5>
    By <a href="/producers/<%= @the_show.user.producer_name.gsub(" ","_")%>"><%= @the_show.user.producer_name%></a>
    </h5>

    <div>
      <div>
        <a href="/shows">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_show/<%= @the_show.id %>">
          Delete show
        </a>
      </div>
    </div>

    <dl>
      
      
      <dt>
        <img src="<%= @the_show.image%>" style = "width:250px;">
      </dt>

      
      <dt>
        <%= @the_show.date.strftime('%a, %b %d') %> <%= @the_show.date.strftime('%I:%M %p') %>
      </dt>

      <dt>
        About The Show
      </dt>
      <dd>
        <%= @the_show.description %>
      </dd>

      <dt>
        Venue
      </dt>
      <dd>
        <%= @the_show.venue_name %>
      </dd>

      <div>
      <dd>
        <%= @the_show.address %>
        <div>
        <%= @the_show.city %>, <%= @the_show.state %>
        </div>
      </dd>
      </div>

      

      <dt>
        Show type
      </dt>
      <dd>
        <%= @the_show.show_type.name %>
      </dd>

     
    </dl>
  </div>
</div>

<hr>

<% if current_user != nil && current_user.comedian_name.present?%>
  <% if !current_user.has_signed_up_for_show?(@the_show.id) %>
  <div>
  <form action="/insert_show_sign_up/<%= @the_show.id %>" method="post">
    <input type="hidden" name="_method" value="post">
    <button type="submit">Sign up</button>
  </form>
  </div>
  <% elsif current_user.has_signed_up_for_show?(@the_show.id) %>
  <form action="/delete_show_sign_up/<%= @the_show.id %>" method="post">
    <input type="hidden" name="_method" value="post">
    <button type="submit">Withdraw from Sign up</button>
  </form>
  <% end %>

   <% if !current_user.has_favorite_for_show?(@the_show.id) %>
  <div>
  <form action="/insert_favorite_show/<%= @the_show.id %>" method="post">
    <input type="hidden" name="_method" value="post">
    <button type="submit">Bookmark</button>
  </form>
  </div>
  <% elsif current_user.has_favorite_for_show?(@the_show.id) %>
  <form action="/delete_favorite_show/<%= @the_show.id %>" method="post">
    <input type="hidden" name="_method" value="post">
    <button type="submit">Bookmarked</button>
  </form>
  <% end %>

  <% else %>

  <p> You have to <a href="/users/sign_in">sign in</a> to sign up and bookmark the show! <p>

  <% end %>

<hr>

<div>
  <div>
    <h2>
      Edit show
    </h2>

    <form action="/modify_show/<%= @the_show.id %>"  method="post" >
      
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_show.image %>">
      </div>


      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_show.name %>">
      </div>

      <!--<div>
        <label for="time_box">
          Time
        </label>

        <input type="time" id="time_box" name="query_time" value="<%#= @the_show.date.strftime('%H:%M') %>">
      </div>-->

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="datetime-local" id="date_box" name="query_date"
         value="<%= @the_show.date.strftime('%Y-%m-%dT%H:%M') %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_show.description %></textarea>
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <textarea id="address_box" name="query_address"><%= @the_show.address %></textarea>
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city" value="<%= @the_show.city %>">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state" value="<%= @the_show.state %>">
      </div>

      <div>
        <label for="zip_box">
          Zip
        </label>

        <input type="text" id="zip_box" name="query_zip" value="<%= @the_show.zip %>">
      </div>

      <!--<div>
        <label for="google_api_address_box">
          Google api address
        </label>

        <input type="text" id="google_api_address_box" name="query_google_api_address" value="<%#= @the_show.google_api_address %>">
      </div>-->

      <div>
        <label for="show_type_id_box">
          Show type
        </label>

      <select id="show_type_id_box" name="query_show_type_name" value="<%= @the_show.show_type.name %>">
        <% ShowType.all.each do |show_type| %>
          <option value="<%= show_type.name %>"><%= show_type.name %></option>
        <% end %>
      </select>  

        <!--<input type="text" id="show_type_id_box" name="query_show_type_id" value="<%#= @the_show.show_type_id %>">-->
      </div>

      <!--<div>
        <label for="show_sign_ups_count_box">
          Show sign ups count
        </label>

        <input type="text" id="show_sign_ups_count_box" name="query_show_sign_ups_count" value="<%#= @the_show.show_sign_ups_count %>">
      </div>-->

      <button>
        Update show
      </button>
    </form>
  </div>
</div>

<hr>
