<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav>
  <div>
  <a href="/comedians"> Comedians </a>
  </div>
  <div>
  <a href="/producers"> Producers </a>
  </div>
  <div>
  <a href="/shows"> Shows </a>
  </div>

  <hr>


  <% if current_user != nil %>   
  <div>
  <a href="/users/sign_out"> Sign-out </a>
  <div>
  <a href="/users/edit"> Account Setting </a>
  <div>
  <a href="/users/profile"> Profile Setting - TO DO </a>

  <% else %>
  <!--<div>
  <a href="/users/sign_up"> Sign-up </a>-->
  <div>
  <a href="/users/sign_in"> Sign-in </a>
  <% end %>

  </nav>

  <body>
    <%= yield %>
  </body>
</html>
