<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav>

  <% if current_user != nil %>   
  <div>
  <a href="/users/sign_out"> Sign-out </a>
  <div>
  <a href="/users/edit"> Edit Profile </a>
  <% else %>
  <!--<div>
  <a href="/users/sign_up"> Sign-up </a>-->
  <div>
  <a href="/users/sign_in"> Sign-in </a>
  <% end %>

  </nav>

  <body>
    <%= yield %>
  </body>
</html>
