<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav>

  <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

  <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %> 
    
  <div>
      <a href="/"> Home </a>
  </div>
  <div>
  <a href="/comedians"> Comedians </a>
  </div>
  <div>
  <a href="/producers"> Producers </a>
  </div>
  <div>
  <a href="/shows"> Shows </a>
  </div>

  <hr>


  <% if current_user != nil %>   
  <div <!--class="custom-dropdown"-->>
  <button class="dropdown-button">My Account</button>
  <div class="dropdown-content">

    <% if current_user.is_producer_and_comedian?%>
    <div>
    <a href="/producers/<%= current_user.producer_name.gsub(' ', '_')%>"> Producer Profile </a>
    </div>
    <div>
    <a href="/comedians/<%= current_user.comedian_name.gsub(' ', '_')%>"> Comedian Profile </a>
    </div>

    <% elsif current_user.is_producer?%>
    <div>
    <a href="/producers/<%= current_user.producer_name.gsub(' ', '_')%>"> Producer Profile </a>
    </div>
    <% elsif current_user.is_comedian?%>
    <div>
    <a href="/comedians/<%= current_user.comedian_name.gsub(' ', '_')%>"> Comedian Profile </a>
    </div>
    <% end %>

    <% if current_user.is_not_comedian? && current_user.is_not_producer? %>    
    <div>
    <a href="/users/new_role"> Become a Comedian/Producer </a>
    </div>

    <% elsif current_user.is_not_producer?%>    
    <div>
    <a href="/users/new_role"> Become a Producer </a>
    </div>
    <% elsif current_user.is_not_comedian?%>    
    <div>
    <a href="/users/new_role"> Become a Comedian </a>
    </div>    
    <% end %>
    
    <div>
    <a href="/users/my_shows"> My Shows </a>   
    </div>
    <div>
    <a href="/users/my_bookmarks"> My Bookmarks </a>    
    </div>
    <div>
    <a href="/users/edit"> Account Setting</a>
    </div>
    <div>
    <a href="/users/sign_out"> Sign-out </a>
    </div>
  </div>
  
  <% else %>
  <div>
  <a href="/users/sign_in"> Sign-in </a>
  <% end %>

  </nav>



  <body>
    <%= yield %>
  </body>
</html>
